body {
    background-image: url('background1.jpg');
    background-size: 1920px 1080px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 0 5px 10px 5px;
    text-align: center;
    color: yellow;
    background-color: #2f4f4f;
    box-shadow: 2px 2px 5px rgba(255, 255, 0, 0.4),
                -2px -2px 5px rgba(255, 255, 0, 0.4),
                2px -2px 5px rgba(255, 0, 0, 0.4),
                -2px 2px 5px rgba(255, 255, 0, 0.4);
}

form {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    border-radius: 15px 0 15px 0;
    background-color: black;
    color: white;
    
    
}

#deleteBtn{
    margin-left: 20px;
    color: #ffffff;
    background-color: #ff0000;
}

h1 {
    padding-top: 25px;
}

#randomResult {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    text-align: left;
}

table {
    font-size: 20px;
    color: yellow;
}

th {
    text-align: center;
    padding: 10px;
}

th:nth-child(1) {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 30px;
}

th:nth-child(2) {
    background-color: yellow;
    color: black;
    font-size: 14px;
    width: 120px;
}

th:nth-child(3), th:nth-child(4) {
    background-color: black;
    color: white;
    font-size: 14px;
}

th:nth-child(5) {
    background-color: black;
    color: white;
    font-size: 14px;
}

td {
    text-align: left;
    padding: 8px;
}

tr.odd {
    background-color: #2f4f4f;
}

tr.even {
    background-color: #696969;
}
